<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Register User</title>
</head>
<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}">
        You have been logged out
    </div>

    <h2>Sign up new User</h2>

    <form action="#" th:action="@{/auth/register}" method="post">
        <label>
            Username:
            <input type="text" name="username"/>
        </label>
        <div>&nbsp;</div>
        <label>
            Password:
            <input type="text" name="password"/>
        </label>
        <div>&nbsp;</div>

        <div><button type="submit">Sign Up</button> | <a th:href="@{'/'}">Cancel</a></div>
    </form>
</body>
</html>